.footer_container{
    max-width: 100%;
    background-color: #E7B75F;
    padding: 50px;
    border: 2px solid black;
}
.footer{
    max-width: 1600px;
    padding: 50px;
    border: 2px solid red;
    margin: auto;
}

.footer_upper{
    display: flex;
    border: 1px solid blue;
    padding: 50px;
}
.footer_upper > div{
    border: 1px solid green;
    padding: 50px;
}
.footer_lower{
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly;
}
.footer_lower > p{
    width: 700px;
    border: 1px solid black;
}