.home{
  background-color:rgb(247, 217, 173);
}

.heading_1 {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid blue; */
  /* margin-top: 30px; */
}
.image_card {
  display: flex;
  /* border: 1px solid green; */
  margin-top: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.video_card {
  width: 100%;
  /* border: 1px solid black; */
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #241c15;
}
.video {
  display: flex;
  justify-content: center;
}
.video > img {
  width: 1000px;
}
.video_cont {
  width: 1000px;
  /* border: 1px solid blue; */
  margin: auto;
  
}
.video_content {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 24px;
}

.heading_2{
  margin-top:40px;
  margin-bottom: 40px;
}
.cards_content {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 10px; */
}
.cards_cont {
  /* border: 1px solid red; */
  padding: 10px;
  height: 650px;
  display: flex;
  align-items: center;
}
.cards {
  width: 450px;
  /* border: 1px solid blue; */
  margin: auto;
  padding: 20px;
  
}
.cards > h2 {
  font-size: 48px;
}
.cards > p {
  font-size: 24px;
}
.clr2 {
  background-color: #d99536;
}
.clr3 {
  background-color: #e7b75f;
}
.clr1 {
  background-color: #966f4c;
}
.clr4 {
  background-color: #ffffff;
}

.partners_container {
  /* border: 2px solid black; */
  padding: 100px;
}
.partners_heading {
  /* border: 2px solid yellow; */
  padding: 20px;
  width: 800px;
}
.partners_heading > h2 {
  font-size: 35px;
}
.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  padding: 10px;
  gap: 10px;
  width: 1200px;
  height: 500px;
  margin: auto;
}
.prtn_cont {
  /* border: 1px solid green; */
  width: 1200px;
  margin: auto;
}
.partners_card {
  display: flex;
  /* border: 1px solid blue; */
  padding: 5px;
  height: 140px;
  display: flex;
  align-items: center;
}
.prt_img_div {
  margin-right: 15px;
 width: 50%;
 

}
.my{
  height:100%;
  margin-right: 10px;
}
.prt_img_div  > img{
  /* border: 1px solid black; */
  width: 100%;
}
.prt_content > h2 {
  font-size: 25px;
}

.container_h {
  width: 100%;

  /* border: 1px solid blue; */
}
.heading {
  width: 800px;
  height: 200px;
  margin: auto;
  /* border: 1px solid red; */
  text-align: center;
}
.heading > h2 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  margin-top: 20px;
}
