.navbar {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;


}

.navbar_tag {
    display: flex;
    text-decoration: none;
    border: 1px solid red;
    width: 600px;


}

.navbar_tag>li {
    margin: auto;
    text-decoration: none;
}

.logo {
    width: 80px;
}

.Buttons{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    
}
