.container{
    /* border: 1px solid black; */
    width: 555px;
    margin: auto;
    /* border: 1px solid black; */
}
.card{
    /* border: 1px solid green; */
    margin: auto;
}
.img-1{
    /* border: 1px solid blue;  */
}
.lower{
    height:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-2{
    width: 80%;
}
.img-2 > p{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}